body {
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 100vh; 
    margin: 0; 
    text-decoration: none;
}
    

.rbt-btn {
    padding: 0 10px;
    background: #2f57ef;
    height: 60px;
    line-height: 60px;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0.5px;
    font-weight: 500;
    display: inline-block;
    transition: all 0.4s ease-in-out, transform 0.4s ease-in-out;
    border-radius: 6px;
    border: 0 none;
    outline: none;
    position: relative; 
    overflow: hidden;

}


.rbt-btn.btn-gradient {
    background-size: 300% 100%;
    background-image: linear-gradient(to right, #2f57ef, #b966e7, #b966e7, #2f57ef);
}

.rbt-btn.btn-gradient:hover {
    background-color: inherit;
    background-position: 102% 0;
    transition: all 0.4s ease-in-out;
    transform: translateY(-4px); 
}


.btn-icon{
    font-size: 18px;
    position: absolute;
    top: 54%;
    transform: translateY(-50%);
    transition: all 0.4s ease-in-out;           

}

.btn-icon:first-child {
    transform: translateY(-50%) translateX(-44px);
    opacity: 0;

  }

  .btn-icon:last-child {
    right: 10px;
    opacity: 1;
  }

  .btn-text {
    display: inline-block;
    padding: 0 20px;
    transition: all 0.4s ease-in-out;
  }

  .rbt-btn.btn-gradient:hover .btn-icon:first-child {
    display: inline;
    opacity: 1; 
    transform: translateY(-50%) translateX(4px);
  }

  .rbt-btn.btn-gradient:hover .btn-icon:last-child {
    opacity: 0;
    transform: translateY(-50%) translateX(20px);
  }

  .rbt-btn.btn-gradient:hover .btn-text {
    transform: translateX(5px);
  }
